services:
  onigiribot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: onigiribot
    env_file: .env
    depends_on:
      postgres:
        condition: service_started
      lavalink:
        condition: service_started
    restart: unless-stopped

  postgres:
    image: postgres:18-alpine
    container_name: postgres-db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4.1.2
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "2333:2333"
    volumes:
      - ./lavalink-config.yml:/opt/Lavalink/application.yml

volumes:
  postgres-data:
