name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js and build app
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - run: npm ci
      - name: Generate Prisma Client
        run: npx prisma generate
      - run: npm run build
